---
layout: branding
layout_keyword: sub_page
title: Elements
group: branding
weight: 6
submenu:
  - { hook: "alerts", title: "Alerts", data-magellan-destination: "alerts" }
  - { hook: "labels", title: "Labels", data-magellan-destination: "labels" }
  - { hook: "tooltips", title: "Tooltips", data-magellan-destination: "tooltips" }
  - { hook: "accordion", title: "Accordion", data-magellan-destination: "accordion" }
  - { hook: "panels", title: "Panels", data-magellan-destination: "panels" }
  - { hook: "table", title: "Table", data-magellan-destination: "table" }
  - { hook: "inline-lists", title: "Table", data-magellan-destination: "inline-lists" }
  - { hook: "progress-bar", title: "Progress Bar", data-magellan-destination: "progress-bar" }
  - { hook: "thumbs", title: "Thumbs", data-magellan-destination: "thumbs" }
  - { hook: "price-tables", title: "Price Tables", data-magellan-destination: "price-tables" }
---

<h1>{{ page.title }}</h1>

  <hr>
  {% include branding/elements/alerts.snippet %}
  <hr>
  {% include branding/elements/labels.snippet %}
  <hr>
  {% include branding/elements/tooltips.snippet %}
  <hr>
  {% include branding/elements/accordion.snippet %}
  <hr>
  {% include branding/elements/panels.snippet %}
  <hr>
  {% include branding/elements/inline_lists.snippet %}
  <hr>
  {% include branding/elements/tables.snippet %}
  <hr>
  {% include branding/elements/progress_bar.snippet %}
  <hr>
  {% include branding/elements/thumbs.snippet %}
  <hr>
  {% include branding/elements/price_tables.snippet %}
  <hr>