---
layout: branding
layout_keyword: sub_page
title: Elements
group: branding
weight: 6
submenu:
  - { hook: "alerts", title: "Alerts" }
  - { hook: "labels", title: "Labels" }
  - { hook: "tooltips", title: "Tooltips" }
  - { hook: "accordion", title: "Accordion" }
  - { hook: "panels", title: "Panels" }
  - { hook: "table", title: "Table" }
  - { hook: "inline-lists", title: "Table" }
  - { hook: "progress-bar", title: "Progress Bar" }
  - { hook: "thumbs", title: "Thumbs" }
  - { hook: "price-tables", title: "Price Tables" }
---

<h1>{{ page.title }}</h1>

  <hr>
  {% include branding/elements/alerts.snippet %}
  <hr>
  {% include branding/elements/labels.snippet %}
  <hr>
  {% include branding/elements/tooltips.snippet %}
  <hr>
  {% include branding/elements/accordion.snippet %}
  <hr>
  {% include branding/elements/panels.snippet %}
  <hr>
  {% include branding/elements/inline_lists.snippet %}
  <hr>
  {% include branding/elements/table.snippet %}
  <hr>
  {% include branding/elements/progress_bar.snippet %}
  <hr>
  {% include branding/elements/thumbs.snippet %}
  <hr>
  {% include branding/elements/price_thumbs.snippet %}
  <hr>