---
layout: branding
layout_keyword: sub_page
title: Forms
group: branding
description: Forms help users take advantage of what your site has to offer.
weight: 6
submenu:
  - { hook: "form-layout", title: "Form Layout", data-magellan-destination: "form-layout" }
  - { hook: "fieldsets", title: "Fieldsets", data-magellan-destination: "fieldsets" }
  - { hook: "prefix-labels", title: "Prefix Labels", data-magellan-destination: "prefix-labels" }
  - { hook: "errors", title: "Errors", data-magellan-destination: "errors" }
  - { hook: "large-forms", title: "Large Forms", data-magellan-destination: "large-forms" }
  - { hook: "custom-inputs", title: "Custom Inputs", data-magellan-destination: "custom-inputs" }
  - { hook: "rd-btns-checkboxes", title: "Radio Buttons and Checkboxes", data-magellan-destination: "rd-btns-checkboxes" }
---
  <h2>{{ page.title }}</h2>
  <h4 class="subheader">{{ page.description }}</h4>

  <hr>
  {% include branding/forms/form-layout.snippet %}
  <hr>
  {% include branding/forms/fielsets.snippet %}
  <hr>
  {% include branding/forms/prefix-labels.snippet %}
  <hr>
  {% include branding/forms/errors.snippet %}
  <hr>
  {% include branding/forms/large-forms.snippet %}
  <hr>
  {% include branding/forms/custom-inputs.snippet %}
  <hr>
  {% include branding/forms/radio-btns-check-boxes.snippet %}
  <hr>