---
layout: branding
layout_keyword: sub_page
title: Forms
group: branding
description: Forms help users take advantage of what your site has to offer.
weight: 6
submenu:
  - { hook: "form-layout", title: "Form Layout" }
  - { hook: "fieldsets", title: "Fieldsets" }
  - { hook: "prefix-labels", title: "Prefix Labels" }
  - { hook: "errors", title: "Errors" }
  - { hook: "large-forms", title: "Large Forms" }
  - { hook: "custom-inputs", title: "Custom Inputs" }
  - { hook: "rd-btns-checkboxes", title: "Radio Buttons and Checkboxes" }
---
  <h2>{{ page.title }}</h2>
  <h4 class="subheader">{{ page.description }}</h4>

  <hr>
  {% include branding/forms/form-layout.snippet %}
  <hr>
  {% include branding/forms/fielsets.snippet %}
  <hr>
  {% include branding/forms/prefix-labels.snippet %}
  <hr>
  {% include branding/forms/errors.snippet %}
  <hr>
  {% include branding/forms/large-forms.snippet %}
  <hr>
  {% include branding/forms/custom-inputs.snippet %}
  <hr>
  {% include branding/forms/radio-btns-check-boxes.snippet %}
  <hr>