---
layout: branding
layout_keyword: sub_page
title: Tabs
group: branding
weight: 5
submenu:
  - { hook: "simple-tabs", title: "Simple Tabs", data-magellan-destination: "simple-tabs" }
  - { hook: "tab-sizing", title: "Tab Sizing", data-magellan-destination: "tab-sizing" }
  - { hook: "contained-tabs", title: "Prefix Labels", data-magellan-destination: "prefix-labels" }
  - { hook: "pill-nav", title: "Pill Navigation", data-magellan-destination: "pill-nav" }
  - { hook: "vertical-tabs", title: "Vertical Tabs", data-magellan-destination: "vertical-tabs" }
---

<h1>{{ page.title }}</h1>


  <hr>
  {% include branding/tabs/simple-tabs.snippet %}
  <hr>
  {% include branding/tabs/tab-sizing.snippet %}
  <hr>
  {% include branding/tabs/prefix-labels.snippet %}
  <hr>
  {% include branding/tabs/pill-navigation.snippet %}
  <hr>
  {% include branding/tabs/vertical-tabs.snippet %}
  <hr>