---
layout: branding
layout_keyword: sub_page
title: Typography
group: branding
description: One of the most important features, Typography helps establish brand identity.
weight: 3
submenu:
  - { hook: "header-styles", title: "Header Styles", data-magellan-destination: "header-styles" }
  - { hook: "paragraphs", title: "Paragraphs", data-magellan-destination: "paragraphs" }
  - { hook: "links", title: "Links", data-magellan-destination: "links" }
  - { hook: "lists", title: "Lists", data-magellan-destination: "lists" }
  - { hook: "blockquotes", title: "Blockquotes", data-magellan-destination: "blockquotes" }
---
  <h2>{{ page.title }}</h1>
  <h4 class="subheader">{{ page.description }}</h4>
  
  <hr>
  {% include branding/typography/header_styles.snippet %}
  <hr>
  {% include branding/typography/paragraphs.snippet %}
  <hr>
  {% include branding/typography/links.snippet %}
  <hr>
  {% include branding/typography/lists.snippet %}
  <hr>
  {% include branding/typography/blockquotes.snippet %}
  <hr>