---
layout: branding
layout_keyword: sub_page
title: Typography
group: branding
description: One of the most important features, Typography helps establish brand identity.
weight: 3
submenu:
  - { hook: "header-styles", title: "Header Styles" }
  - { hook: "paragraphs", title: "Paragraphs" }
  - { hook: "links", title: "Links" }
  - { hook: "lists", title: "Lists" }
  - { hook: "blockquotes", title: "Blockquotes" }
---
  <h2>{{ page.title }}</h1>
  <h4 class="subheader">{{ page.description }}</h4>
  
  <hr>
  {% include branding/typography/header_styles.snippet %}
  <hr>
  {% include branding/typography/paragraphs.snippet %}
  <hr>
  {% include branding/typography/links.snippet %}
  <hr>
  {% include branding/typography/lists.snippet %}
  <hr>
  {% include branding/typography/blockquotes.snippet %}
  <hr>